* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(233, 233, 227);
    overflow-x: hidden;
    box-sizing: border-box;

}

main {
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}


.heading1 {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 40px;
    color: white;
}

.heading2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    color: white;
}

.heading3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    color: rgb(83, 83, 83);
    text-transform:uppercase;
}

.p1 {
    font-family: "Montserrat", sans-serif;
    color: rgb(80, 80, 80);
    font-size: 18px;
    line-height:170%;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    padding: 12px;
    background-color: rgb(238, 191, 74);
    border-radius: 3px;
    border: none;
    transition: all .3s;
    box-shadow: 1px 2px 7px rgba(43, 43, 43, 0.575);

}

.btn:hover {
    background-color: rgb(241, 201, 99);
    transform: translatey(-3px) scale(102%);
    
}
.btn:active {
    background-color: rgb(223, 185, 90);
    transform:  scale(102%);
}

.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}



.header {
    height: 80px;
    max-width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    
}

.header__container {
    height: 100%;
    width: 1600px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__site-name {
    margin-right: auto;
}

.header__icon {
    height: 95%;
    margin-right: 20px;
}

.header__nav-title {
    font-weight: 600;
    
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__list-item {
    padding: 30px 15px;

}

.nav__list-item__link {
    color: white;
    text-decoration: none;
}

.nav__list-item__link:hover {
    background-color: white;
    transition: all .5s;
}

.nav__list-item__link:hover li h2 {
    color: black;
    transition: all .5s;
}

.home {
    margin-top: 70;
    height: 800px;
    width: 100%;
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url("images/Coffee-cropped.jpg");
    background-position-y: bottom;
    background-position-x: center;
    background-blend-mode: color-burn;
    background-color: rgba(78, 78, 78, 0.712);
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px rgb(94, 94, 94);
}

.home__container {
    width: 1200px;
    position: relative;
}

.home__hero-container {
    position: absolute;
    bottom: 13%;
    left: 10%;
}

.home__hero-text {
    width: 600px;
    font-size: 60px;
    color: rgb(219, 238, 255);
    visibility:hidden;

    margin-bottom: 20px;
    animation-name: slideInLeft;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: .5s;
    animation-fill-mode:forwards;
}

.home__hero-btn {
    visibility: hidden;
    animation-name: slideInBottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode:both;
    border-radius: 5px;
    font-size: 24px;
}


.home__paragraph {
    margin-top: 50px;
    color:rgba(255, 255, 255, 0.568);
}

.about {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.about__container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 90px;

}   

.about__icon {
    height: 120px;
    object-fit: contain;
}

.about__site-name {
    text-align: center;
    margin-top: -20px;
    color: black;
    font-weight: 500;
    font-size: 32px;
}

.about__content {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 20px;
}

.about__content__text {
    width: 50%;
    padding-right: 40px;

}

.about__content__images {
    width: 50%;
    position: relative;
    height: 100%;
}

.about__content__images:hover .about__content__image:not(:hover){
    transform: translate(-50%, -50%) scale(85%) ;
} 

.about__content__image {
    aspect-ratio: 16/9;
    max-width: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: bottom;
    box-shadow: 4px 10px 30px black;
    transition: all .3s ease-out;
}

.about__image1 {
    top: 30%;
    left:30%;
}
.about__image2 {
    top: 65%;
    left:50%;
}
.about__image3 {
    top: 40%;
    left:70%;
}

.about__content__image:hover {
    transform: translate(-50%, -50%) scale(110%) ;
    z-index: 100000;
}

.about__btn {
    margin-top: 30px;
    font-size: 18px;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("images/OIG4\ \(5\).jfif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    min-height: 800px;
    background-blend-mode: color-burn;
    background-color: rgba(0, 0, 0, 0.623);
}

.description__container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.description__head {
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
    text-shadow: 5px 8px 10px rgba(255, 255, 255, 0.363);
    transition: all 1s;
    transition-timing-function: ease-out;
}


.description__card {
    background-color: rgb(233, 233, 227);
    width: 22%;
    min-height: 400px;
    padding: 15px 10px;
    border-radius: 7px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.774);
    transition: all 1s;
    transition-timing-function: ease-out;
}

.description__card:nth-child(2) {
    transition-delay: 200ms;
}
.description__card:nth-child(3) {
    transition-delay: 400ms;
}
.description__card:nth-child(4) {
    transition-delay: 600ms;
}
.description__card:nth-child(5) {
    transition-delay: 800ms;
}


.description__text {
    font-size: 14px;
    text-align: center;
    height: 110px
}

.description__heading {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.description__card-image {
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.description__card-image1 {
    object-position: bottom;
}
.description__card-image2 {
    object-position:top;
}


.best-sellers {
    padding-top: 100px;
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: rgb(255, 245, 213);
    background-image: url("images/Icon_pattern.png");
    background-blend-mode:soft-light;
}

.best-sellers__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    margin-bottom: 100px;
}

.best-sellers__heading {
    font-size: 40px;
    color: rgb(37, 37, 37);
    font-weight: 500;
    transition: all 1s ease-out;
}

.best-sellers__cards {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-sellers__card {
    width:31%;
    height: 500px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    box-shadow: 1px 5px 20px rgba(32, 32, 32, 0.349);
    overflow: hidden;
    transition: all 1s ease-out;
}

.best-sellers__card:nth-child(1) {
    transition-delay: 100ms;
}
.best-sellers__card:nth-child(2) {
    transition-delay: 200ms;
}
.best-sellers__card:nth-child(3) {
    transition-delay: 300ms;
}

.best-seller__card-image {
    height: 40%;
    background-color: lightblue;
    position:relative;
    background-size: cover;
    background-position: center;
}

.best-seller__card-inclusions {
    margin-top: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.best-seller__card-text {
    text-align: center;
    padding: 10px 0px;
    width: 80%;
    font-size: 15px;
}

.best-seller__card-text:not(:last-child) {
    border-bottom: 1px solid rgba(87, 87, 87, 0.356);
}

.best-seller__card-image3 {
    background-image: url("images/Untitled\ Project.jpg");
    
}

.best-seller__card-image2 {
    background-image: url("images/Magic\ Studio\ Magic\ Expand\ L&P\ -\ MOBILE.png");
    
}

.best-seller__card-image1 {
    background-image: url("images/Magic\ Studio\ Magic\ Expand\ L&P\ -\ MOBILE\ \(1\).jpg");
    background-position: right;
}

.best-seller__card-heading {
    color: white;
    position: absolute;    
    width: 40%;
    line-height: 2.1;
    right: 5%;
    text-align: right;
    bottom: -16%;

}
.best-seller__card-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-wrap: wrap;
    padding: 10px;
    margin-top: 15px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(51, 51, 51, 0.726)), to(rgb(0, 0, 0)));
}


.comments {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-image: url("images/Magic\ Studio\ Magic\ Expand\ L&P\ -\ MOBILE\ \(2\).jpg");
    height: 900px;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.856);
    background-blend-mode: screen;
}

.comments__container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comments__heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 80px;
}

.comments__card {
    background-color: white;
    height: 250px;
    width: 800px;
    padding: 40px;
    transform: skew(-12deg);
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    box-shadow: 3px 4px 10px rgba(66, 66, 66, 0.411);
    transition: all 1s ease-out;
}

.comments__card:nth-child(2) {
    transition-delay: 300ms;
}
.comments__card:nth-child(3) {
    transition-delay: 500ms;
}


.comments__card > * {
    transform: skew(12deg);
}

.comments__text-portion {
    width: 70%;
}

.comments__card-name {
    visibility: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    text-align: center;
    text-transform: none;
    color: rgb(20, 20, 20);
}

.comments__card:hover .comments__img{
    transform: scale(115%);
    filter: blur(4px);
}

.comments__card:hover .comments__card-name{
    position:absolute;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.comments__img {
    height: 150px;
    width:150px;
    object-fit: cover;
    object-position: left;
    transition: all .5s ease-out;
}

.comments__img-cont {
    height: 150px;
    width:150px;
    border-radius: 100px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
}

.comments__story-title {
    font-size: 18px;
    color:rgba(100, 100, 100, 0.822);
    margin-bottom: 10px;
}
.comments__story-text {
    font-size: 16px;
    color:rgba(37, 37, 37, 0.616);
    line-height: 1.7;
}


.contact {
    background-color: rgb(31, 31, 31);
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px
}

.contact__container {
    max-width: 1300px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-image: url("images/OIG1\ \(1\).jfif");
    clip-path: polygon(0, 100%, 80%, 0);
    width:1000px;
    height: 500px;
}

.contact__form {
    background-color: rgba(255, 255, 255, 0.856);

    padding: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__form-textarea {
    height: 150px;
    width: 100%;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
    padding: 10px;
    
}
.contact__form-input {
    border: none;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
}

.contact__btn {
    font-size: 20px;
    width: min-content;
    text-wrap: nowrap;
}

.contact__heading {
    font-size: 40px;
    margin-top: 10px;
    animation-name: popping;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}


.hidden__desc {
    transform: translatex(-100%);
    filter: blur(5px);
    opacity: 0;
}

.hidden__desc-head {
    transform: translatey(-100%);
    filter: blur(5px);
    opacity: 0;
}

.hidden__best {
    transform: translatey(-30%);
    filter: blur(5px);
    opacity: 0;
}
.hidden__best-head {
    transform: translatey(-30%);
    filter: blur(5px);
    opacity: 0;
}

.hidden__comment {
    filter: blur(5px);
    opacity: 0;
}

.hidden__comment:nth-child(3) {
    transform: translatex(-20%);

}
.hidden__comment:nth-child(2) {
    transform: translatex(20%);
}

@keyframes slideInLeft {
    from {
        transform: translatex(-100px);
        visibility: hidden;
    }
    to {
        transform: translatex(0);
        visibility:visible;
    }
}

@keyframes slideInBottom {
    from {
        transform: translatey(50px);
        visibility: hidden;
    }
    to {
        transform: translatex(0);
        visibility:visible;
    }
}


@keyframes popping {
    from {
        transform: scale(100%);
    }
    50%{
        transform: scale(105%);

    }
    to {
        transform: scale(100%);
    }
}


@media (max-width: 1100px) {
    
    .about__content {
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .about__content__images {
        height: 400px;
        width: 80%;
        margin: 30px 0;
    }
    .about__content__text {
        padding: 0;
        width: 90%;
    }
    .about__text {
        text-align: justify;
    }
    
    .description__container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 100px;
    }
    .description__card {
        width: 350px;
        padding: 40px 20px;
        min-height: 0;
        margin-top: 60px;
        margin-left:  10px;
        margin-right: 10px; 
    }
    .best-sellers__cards {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
        
    }
    .best-sellers__card {
        width: 350px;
        margin-top: 50px;
    }
    .comments__card {
        width: 600px;
    }
    .comments__text-portion {
        font-size: 14px;
    }
    .contact__form{ 
        width: 70%;
    }
}

@media (max-width: 600px) {
    .home__hero-text {
        font-size: 48px;
        width: 450px;
    }
    .about__content {
        padding: 0;
    }
    .about__content__images {
        margin: 0;
    }
    .description__head {
        text-align: center;
        font-size: 36px;
    }
    .comments__container{
        flex-direction: column;
    }
    .comments__heading {
        text-align: center;
        font-size: 36;
    }
    .comments__card {
        flex-direction: column;
        background-color: white;
        height: 400px;
        width: 100%;
        padding: 40px 20px;
        display: flex;
        align-items: center;
        margin-bottom: 80px;
        box-shadow: none;
        transition: all 1s ease-out;
        transform: none;
        
    }
    .comments__text-portion {
        padding: 0;
        width: 100%;
    }
    .comments__story-title {
        text-align: center;
    }
    .comments__story-text {
        text-align: justify;
    }
    .comments__card > * {
    transform: none;
    }
    .comments{
        height: 100%;
    }
    .contact__form{ 
        width: 100%;
    }

}

@media (max-width: 600px) {
    
}